<h2>Liste of my most loved animals</h2>
<ul>
  <li class="midlaner">lion</li>
  <li class="midlaner">dog</li>
  <li class="toplaner">horse</li>
  <li class="midlaner">turtle</li>
  <li class="toplaner">cat</li>
</ul>