<h2>Liste of my most loved things</h2>
<ul>
  <li class="midlaner">chocolate</li>
  <li class="midlaner">carpet</li>
  <li class="toplaner">cushion</li>
  <li class="midlaner">bed</li>
  <li class="toplaner">food</li>
</ul>